@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



.mySwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}


html {
  scroll-behavior: auto !important;
}

html,
body {
  overflow-x: clip;
}